
<div>
    <div style="position: relative; height: 30px; display: inline-block;">
        <div data-bind="style: { backgroundColor: color }" style="position: relative; display: inline-block; width: 20px; height: 100%;"></div>
        <span data-bind="text: label" style="vertical-align: middle; line-height: 100%; height: 100%; display: inline-block; position: relative;"></span>
    </div>
    <p class="small_text">This is a nested view with a view model supplied by its parent view, and view model.</p>	
</div>
    