
<div>

	<h3>The main container containing all other views!</h3>

	<h4>Bind from view model to control</h4>
	<p>With the binding<p/>
	<pre>

	data-bind="bindings: {ViewModelProperty:'ControlProperty'}"
	data-bind="bindings: [{vmProp1:'cProp1'}, {vmProp2:'cProp2'}]"
	data-bind="bindings: {ViewModelProperty:'ControlProperty', mode:'twoWay'}"
	</pre>
	<p>it is possible to bind directly from a property (Rx.Observable or knockout observable) on the view, to a getter/setter on a control.</p>
	<p>If the property on the view model is "settable" (i.e. is a knockout observable or a Rx subject) two way bindings are also possible.</p>
	<p>Example using a knockout observable for the x position and a Rx.Observable for the y property.</p>

	<div style="position: relative; width: 400px; height: 100px; border: 1px solid black;">
		<div 
			data-control="Controls.ElementPositioner" 
			data-bind="bindings: [{vmX:'x'}, {vmY:'y'}]">
			<div class="position_me">
				<span data-bind="text: name">Position me!</span>
			</div>
		</div>
	</div>

	<span style="font-size: 12px;">Positioned text:</span> 
	<div style="display: inline;" data-control="Controls.SmartInput" data-bind="bindings: {name: 'text', mode:'twoWay'}"></div>
</div>